.content {
    display: none;
}
.content.active {
    display: block;
}
.nav-link {
    font-size: 1.5rem; 
    font-weight: lighter;
    color: rgb(13, 202, 240, 0.8);
}
.nav-link:hover{
    color: rgb(13, 202, 240, 1.1);
}
.nav-link:active{
    color: rgb(13, 202, 240, 1.1);
}
.nav-link:focus{
    color: rgb(13, 202, 240, 1.1);
}
