table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}


div.wrapper {
    position: relative;
    clear: both;
    width: 100%;
    overflow:auto;
}
div.left {
    float: left;
    width: 49%;
    background: #ffffff;
}	
    
div.right {
    float: right;
    width: 49%;
    background: #ffffff;
}
.wrapper p {
    margin:0px;
}

